/* Media embed */
.instagram-media{margin:15px auto !important;}

.eleventy-plugin-embed-spotify,
.eleventy-plugin-youtube-embed {
    width: 100%; /* or a specific width like 80% */
    max-width: 600px; /* Set a max-width for better control */
    margin: 10px auto; /* Center the element with auto margins */
}
